@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');


.HOME{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.HOME .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;

    background-image: url(../imgs/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.HOME .banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
}

.HOME .banner h2{
    color: #161616;
    font-size: 2.4em;
    font-weight: 700;
    margin: 150px 0 0 0;
}

.HOME .page-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

.HOME .jobs{
    margin: 0 40px 0 40px;
    direction: rtl;
}

.HOME .jobs-intro-text{
    margin-top: 20px;
    font-size: 1.2em;
}

.HOME .jobs-list{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    list-style: none;
    justify-content: center;
    gap: 70px;
    margin-top: 80px;
}

.HOME .job-item{
    position: relative;
    width: 100%;
    max-width: 476px;
    height: 250px;
    border-radius: 15px;
    background-color: #ffffff;
    direction: rtl;
    text-align: right;
    /* padding: 65px 20px 20px 14px; */
    transition: 0.2s;
    text-overflow: clip;
    box-shadow: 0px 4px 32px rgb(0 0 0 / 10%);
    /* user-select: none; */
    color: black;
}

.HOME .job-item a{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 65px 20px 20px 14px;
    /* user-select: none; */
    text-decoration: none;
    color: inherit
    /* pointer-events: none; */
}

.HOME .job-item a:active{
    background-color: #0f476d;
    color: #e5e5e5;
}

@media (hover: hover){
    .HOME .job-item:hover{
        background-color: #0f476d;
        color: #e5e5e5;
    }
    .HOME .job-item:hover .icon-container{
        background-color: #8d8d8d;
    }
    .HOME .job-item:focus-visible:hover .icon-container{
        transition: none;
        outline: -webkit-focus-ring-color auto 1px;
    }

    .HOME .job-item:focus-visible:hover{
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.HOME .job-item a::selection{
    color: yellow;
    background-color: yellow;
}


.HOME .job-item a:active .icon-container{
    background-color: #8d8d8d;
}

.HOME .job-item a:focus-visible .icon-container{
    transition: none;
    outline: #0f476d auto 1px;
}

.HOME .job-item a:focus-visible{
    outline: #0f476d auto 1px;
}

.HOME .job-item a:focus-visible:active .icon-container{
    transition: none;
    outline: -webkit-focus-ring-color auto 1px;
}

.HOME .job-item a:focus-visible:active{
    outline: -webkit-focus-ring-color auto 1px;
}

.HOME .job-item .job-title{
    font-size: 1.1em;
}

.HOME .job-item .job-desc{
    height: 130px;
    margin: 0;
    overflow: hidden scroll;
    padding-left: 10px;

    font-family: inherit;
    font-size: 0.95em;
    font-weight: inherit;
    line-height: inherit;

    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

.HOME .job-desc::-webkit-scrollbar{
    display: none;
}

.HOME .job-item:hover .job-desc::-webkit-scrollbar{
    display: initial;
    width: 5px;
}



.HOME .job-desc::-webkit-scrollbar-track{
    margin-bottom: 20px;
    background-color: transparent;
}

.HOME .job-desc::-webkit-scrollbar-thumb{
    border-radius: 3px;
}

.HOME .job-item:hover .job-desc::-webkit-scrollbar-thumb{
    background-color: #8d8d8d;
}

.HOME .job-item:hover .job-desc::-webkit-scrollbar-thumb:hover{
    background-color: #aaaaaa;
}

.HOME .icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    right: 40px;
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border: none;
    border-radius: 6px 6px 32px 6px;
    box-shadow: 0px 4px 32px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

.HOME .job-item .icon-container .icon{
    width: 60px;
    height: 60px;
    /* background-color: #0f476d; */

    color: #0f476d;
}

.HOME .job-item .icon-container img{
    color: #0f476d;
}


@media (width >= 600px){
    .HOME .jobs-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        grid-template-areas: "col-1 col-2";
        column-gap: 35px;
        row-gap: 70px;
    }

    .HOME .job-item a{
        width: 250px;
    }
}

@media (width >= 800px) and (width < 1000px){
    .HOME .job-item a{
        width: 350px;
    }
}

@media (width >= 1000px) and (width < 1550px){
    .HOME .job-item a{
        width: 440px;
    }
}

@media (width >= 1100px){
    .HOME .jobs-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .HOME .job-item a{
        width: 320px;
    }
}

@media (width >= 1250px){
    .HOME .job-item a{
        width: 380px;
    }
}

@media (width >= 1550px){
    .HOME .job-item a{
        width: 440px;
    }
}