@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');

:root{
    /* NORMAL */
    --fc-border-color: #ECEFF9;
    --fc-normal-text-color: #0E0B3D;
    --fc-normal-placeholder-color: #B3B8D0;

    /* PRIMARY COLOR | HSL FORMAT*/
    --fc-primary-color-hue: 201;
    --fc-error-color-hue: 356;
    --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
    --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

    /* HOVER */
    --fc-field-hover-bg-color: #F7F9FC;
    --fc-border-hover-color: #DDE0EE;
    --fc-field-hover-text-color: #B3B8D0;

    --fc-border-active-color: #1463FF;
    --color: #2886b1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    font-weight: 500;
    background: radial-gradient(circle, #ccd4da 40%, #ffffff 100%);
    direction: rtl;
    padding-top: 10px;
}

.top{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 140px;
    height: auto;
}

body:not(:has(.Login)) header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";
    direction: ltr;
    border-bottom: 1px solid #7777778e;
    padding-bottom: 10px;
}

body:not(:has(.Login)) header div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

body:not(:has(.Login)) header div:has(img){
    justify-content: center;
    padding: 0;
}

body:not(:has(.Login)) header .left-h{
    grid-area: left;
    font-size: 15px;
    font-weight: 500;
    user-select: none;
    border-radius: 6px;
    background-color: #054468;
    width: fit-content;
    height: fit-content;
    color: white;
    margin-left: 10px;;
}
body:not(:has(.Login)) header .center-h{
    grid-area: center;
}

body:not(:has(.Login)) header .right-h{
    grid-area: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: fit-content;
    height: fit-content;
    justify-self: flex-end;
    margin-right: 70px;
    margin-top: 5px;
    padding: 0;
}

body:not(:has(.Login)) header .right-h button{
    font-size: 15px;
    font-weight: 500;
    width: 60px;
    height: 35px;
    border-radius: 16px;
}

body:has(.mover.active):not(:has(.Login)) header .right-h{
    translate: -225px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.mover{
    position: relative;
}

.mover .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	right: -225px;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.mover .sidebar ul{
    margin-top: 30px;
    list-style: none;
	text-decoration: none;
}

.mover .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}

.mover .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}



.mover .sidebar ul li a:hover,
.mover .sidebar ul li a.active{
	color: #0c7db1;

	background:white;
    border-right: 2px solid #054468;
}

.mover .sidebar ul li a:hover .icon,
.mover .sidebar ul li a.active .icon{
	color: #0c7db1;
}

.mover .sidebar ul li a:hover:before,
.mover .sidebar ul li a.active:before{
	display: block;
}

.mover .hamburger{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -59px;
    text-align: center;
    text-overflow: clip;
	font-size: 28px;
	color: rgb(5, 68, 104);
    outline: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    cursor: pointer;
}

.mover .hamburger:active{
    background-color: rgb(5, 68, 104);
    color: #f4fbff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.mover.active .hamburger{
    background-color: rgb(5, 68, 104);
    color: #f4fbff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

@media(hover: hover){
    .mover .hamburger:hover{
        background-color: rgb(5, 68, 104);
        color: #f4fbff;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .mover.active .hamburger:hover{
        background: none;
        color: rgb(5, 68, 104);
    }
}


.mover.active .sidebar{
	right: 0;
}

.mover.active .hamburger{
	margin-right: 225px;
}

input,
textarea,
select {
    margin-top: 4px;
    width: 100%;
    height: 42px;
    border: 1px solid var(--fc-border-color);
    color: var(--fc-normal-text-color);
    border-radius: 6px;
    padding: 8px 12px;

    /* font-family: "Inter", sans-serif; */
    font-size: 14px;
    transition: 125ms background, 125ms color, 125ms box-shadow;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--fc-normal-placeholder-color);
}

input:hover,
textarea:hover,
select:hover {
    border-color: var(--fc-border-hover-color);
    background-color: var(--fc-field-hover-bg-color);
}

input:hover::placeholder,
textarea:hover::placeholder,
select:hover::placeholder {
    color: var(--fc-field-hover-text-color);
}

input:focus,
textarea:focus,
select:focus {
    background-color: #fff;
    border-color: hsl(var(--fc-primary-hsl));
    box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
    outline: none;
}

select {
    direction: rtl;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
    /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
    background-size: 24px 24px;
    background-position: 2%;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    color: var(--fc-normal-placeholder-color);
}

select:disabled{
    color: var(--fc-normal-placeholder-color);
}

button{
    font: inherit;
    line-height: inherit;
}
.form-button {
    /* font-family: "Inter", sans-serif; */
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    height: 40px;
    line-height: 24px;
    width: 100%;
    border: 1px solid var(--color);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--color);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;

    transition: 125ms all;
    direction: rtl;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner-button {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    animation: spinner-rotation 0.85s linear infinite;
}

.form-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--color);
}

.form-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color);
    border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 3px rgba(var(--color), 12%);
}

.form-button:disabled {
    background-color: var(--color);
    cursor: not-allowed;
    opacity: 0.6;
}

input:focus:required:invalid,
input:focus:invalid,
select:focus:required:invalid,
select:focus:invalid {
    color: hsl(var(--fc-error-hsl));
    border-color: hsl(var(--fc-error-hsl));
    box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}


/* Fields Errors */
.tooltip-container{
    position: relative;
}

.tooltip-container:has(.tooltip-right){
    display: flex;
    width: max-content;
}

@keyframes tooltip-fade-below {
    from {
        top: calc(100% + 35px);
        opacity: 0;
    }
    to {
        top: calc(100% + 4px);
        opacity: 100%;
    }
}

@keyframes tooltip-fade-right {
    from {
        right: calc(100% + 50px);
        opacity: 0;
    }
    to {
        right: calc(100% + 15px);
        opacity: 100%;
    }
}

.s-tooltip {
    background: #ca6060;
    border-radius: 5px;
    color: #fff;
    padding: 5px 12px;
    position: absolute;
    opacity: 0;
    z-index: 5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.s-tooltip.tooltip-below{
    right: 3px;
    animation: 0.4s tooltip-fade-below both;
}

.s-tooltip.tooltip-right{
    top: -5px;
    animation: 0.4s tooltip-fade-right both;
}


.s-tooltip::before {
    background: #ca6060;
    bottom: -8px;
    content: ".";
    width: 16px;
    height: 16px;
    position: absolute;
    text-indent: -999px;
    transform: rotate(45deg);
    white-space: nowrap;
    z-index: -1;
    border-radius: 2px;
}

.s-tooltip.tooltip-below::before {
    top: -5px;
    right: 12px;
}

.s-tooltip.tooltip-right::before {
    width: 12px;
    height: 12px;
    right: -4px;
    top: 9px;
}



.alert{
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #e2e3e5;
    outline: 1.5px solid #d6d8db;
    color: #383d41;
}

.alert:has(.alert-close){
    padding-top: 15px;
}

.alert .alert-close{
    position: absolute;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    top: -2px;
    right: 0;
    transform: translateX(-80%);
    font-size: 14px;
    color: #00000041;
}

.alert.alert-green{
    background-color: #d4edda;
    outline-color: #c3e6cb;
    color: #155724;
}

.alert.alert-orange{
    background-color: #fff3cd;
    outline-color: #ffeeba;
    color: #856404;
}

.alert.alert-red{
    background-color: #f8d7da;
    outline-color: #f5c6cb;
    color: #721c24;
}

.alert pre{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}